<template>
        <div class="bck" />
</template>

<script>
</script>
<style>
    .bck {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
    }
</style>